<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Ingredient Health Benefits

    <a data-toggle="collapse" href="#health_benefit_ingredient_health_benefits_new_form">
      Add ingredient health benefit
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @health_benefit.ingredient_health_benefits.each do |ingredient_health_benefit| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/ingredient_health_benefits/<%= ingredient_health_benefit.id %>">
          <%= ingredient_health_benefit.created_at %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_ingredient_health_benefit_from_health_benefit/<%= ingredient_health_benefit.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="health_benefit_ingredient_health_benefits_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "health_benefit_templates/health_benefit_ingredient_health_benefits_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
