<form action="/create_ingredient_health_benefit_from_health_benefit" method="post">

  <div class="form-group">
    <label for="ingredient_id">
      Ingredient
    </label>

    <%= select_tag(:ingredient_id, options_from_collection_for_select(Ingredient.all, :id, :name, @ingredient_health_benefit.ingredient_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="health_benefit_id" value="<%= @health_benefit.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create ingredient health benefit
  </button>
</form>
