<h1>
  Edit favorite recipe #<%= @favorite_recipe.id %>
</h1>

<hr>

<form action="/update_favorite_recipe/<%= @favorite_recipe.id %>" method="post">


  <div class="form-group">
    <label for="recipe_id">
      Recipe
    </label>

    <%= select_tag(:recipe_id, options_from_collection_for_select(Recipe.all, :id, :created_at, @favorite_recipe.recipe_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update favorite recipe
  </button>
</form>

<hr>

<a href="/favorite_recipes">
  Go back
</a>
