<!-- Validation failure messages -->
<% if @favorite_recipe.present? %>
  <% if @favorite_recipe.errors.any? %>
    <% @favorite_recipe.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new favorite recipe
</h1>


<hr>

<!-- Form favorite_recipe start -->
<form action="/create_favorite_recipe" method="post">
<!-- Form favorite_recipe end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @favorite_recipe.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for recipe_id start -->
  <div class="form-group">
    <label for="recipe_id">
      Recipe
    </label>

    <!-- Input for recipe_id start -->
    <%= select_tag(:recipe_id, options_from_collection_for_select(Recipe.all, :id, :created_at, @favorite_recipe.recipe_id), :class => "form-control") %>
    <!-- Input for recipe_id end -->
  </div>
  <!-- Label and input for recipe_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create favorite recipe
  </button>
</form>

<hr>

<a href="/favorite_recipes">
  Go back
</a>
