<% if @favorite_recipe.present? %>
  <% if @favorite_recipe.errors.any? %>
    <% @favorite_recipe.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new favorite recipe
</h1>


<hr>

<form action="/create_favorite_recipe" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="recipe_id">
      Recipe
    </label>

    <%= select_tag(:recipe_id, options_from_collection_for_select(Recipe.all, :id, :created_at, @favorite_recipe.recipe_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create favorite recipe
  </button>
</form>

<hr>

<a href="/favorite_recipes">
  Go back
</a>
