<form action="/create_ingredient_health_benefit_from_ingredient" method="post">

  <input type="hidden" name="ingredient_id" value="<%= @ingredient.id %>">

  <div class="form-group">
    <label for="health_benefit_id">
      Health benefit
    </label>

    <%= select_tag(:health_benefit_id, options_from_collection_for_select(HealthBenefit.all, :id, :name, @ingredient_health_benefit.health_benefit_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create ingredient health benefit
  </button>
</form>
