<!-- Form favorite_recipe start -->
<form action="/create_favorite_recipe_from_recipe" method="post">
<!-- Form favorite_recipe end -->

  <!-- Label and input for user_id start -->
  <!-- Input for "user_id" start -->
  <input type="hidden" name="user_id" value="<%= current_user.id %>">
  <!-- Input for "user_id" end -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for recipe_id start -->
  <!-- Input for recipe_id start -->
  <input type="hidden" name="recipe_id" value="<%= @recipe.id %>">
  <!-- Input for recipe_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create favorite recipe
  </button>
</form>
