<!-- Form favorite_recipe start -->
<form action="/create_favorite_recipe_from_recipe" method="post">
<!-- Form favorite_recipe end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @favorite_recipe.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for recipe_id start -->
  <!-- Input for recipe_id start -->
  <input type="hidden" name="recipe_id" value="<%= @recipe.id %>">
  <!-- Input for recipe_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create favorite recipe
  </button>
</form>
