<form action="/create_recipe_ingredient_from_recipe" method="post">

  <input type="hidden" name="recipe_id" value="<%= @recipe.id %>">

  <div class="form-group">
    <label for="ingredient_id">
      Ingredient
    </label>

    <%= select_tag(:ingredient_id, options_from_collection_for_select(Ingredient.all, :id, :name, @recipe_ingredient.ingredient_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create recipe ingredient
  </button>
</form>
