<!-- Form recipe_ingredient start -->
<form action="/create_recipe_ingredient_from_recipe" method="post">
<!-- Form recipe_ingredient end -->

  <!-- Label and input for recipe_id start -->
  <!-- Input for recipe_id start -->
  <input type="hidden" name="recipe_id" value="<%= @recipe.id %>">
  <!-- Input for recipe_id end -->

  <!-- Label and input for ingredient_id start -->
  <div class="form-group">
    <label for="ingredient_id">
      Ingredient
    </label>

    <!-- Input for ingredient_id start -->
    <input type="text" id="ingredient_id" name="ingredient_id" class="form-control" value="<%= @recipe_ingredient.ingredient_id %>">
    <!-- Input for ingredient_id end -->
  </div>
  <!-- Label and input for ingredient_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create recipe ingredient
  </button>
</form>
