<h1>
  Add a new recipe
</h1>


<hr>

<form action="/create_recipe" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="image">
      Image
    </label>

    <input type="file" id="image" name="image" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create recipe
  </button>
</form>

<hr>

<a href="/recipes">
  Go back
</a>
