<h1>
  Edit recipe ingredient #<%= @recipe_ingredient.id %>
</h1>

<hr>

<form action="/update_recipe_ingredient/<%= @recipe_ingredient.id %>" method="post">

  <div class="form-group">
    <label for="recipe_id">
      Recipe
    </label>

    <%= select_tag(:recipe_id, options_from_collection_for_select(Recipe.all, :id, :created_at, @recipe_ingredient.recipe_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="ingredient_id">
      Ingredient
    </label>

    <%= select_tag(:ingredient_id, options_from_collection_for_select(Ingredient.all, :id, :name, @recipe_ingredient.ingredient_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update recipe ingredient
  </button>
</form>

<hr>

<a href="/recipe_ingredients">
  Go back
</a>
