<h1>
  Add a new recipe ingredient
</h1>


<hr>

<!-- Form recipe_ingredient start -->
<form action="/create_recipe_ingredient" method="post">
<!-- Form recipe_ingredient end -->

  <!-- Label and input for recipe_id start -->
  <div class="form-group">
    <label for="recipe_id">
      Recipe
    </label>

    <!-- Input for recipe_id start -->
    <%= select_tag(:recipe_id, options_from_collection_for_select(Recipe.all, :id, :created_at, @recipe_ingredient.recipe_id), :class => "form-control") %>
    <!-- Input for recipe_id end -->
  </div>
  <!-- Label and input for recipe_id end -->

  <!-- Label and input for ingredient_id start -->
  <div class="form-group">
    <label for="ingredient_id">
      Ingredient
    </label>

    <!-- Input for ingredient_id start -->
    <%= select_tag(:ingredient_id, options_from_collection_for_select(Ingredient.all, :id, :name, @recipe_ingredient.ingredient_id), :class => "form-control") %>
    <!-- Input for ingredient_id end -->
  </div>
  <!-- Label and input for ingredient_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create recipe ingredient
  </button>
</form>

<hr>

<a href="/recipe_ingredients">
  Go back
</a>
